<li>
	<% if @user_professions %>
			<p><%= @user_professions.profession.title %><% if @props[0] %>: <%= @props[0].total %><% end %></p>
				<div class="star"></div>
			<% if @user_profile != current_user %>
				<a id="rate-profession" class="float-right">Rate</a>
			<% end %>
			<button id='send-rating'>Rate!</button>
	<% end %>
</li>

<script>
	$(function() {
		$('#send-rating').hide();
		getStar();

		function getStar() {
    $('.star').raty({
      readOnly: true,
      path: '/assets',
      half: true,
      halfShow:  true,
      <% if @props.blank? %>
      score: 0
      <% else %>
      score: <%= @props[0].total %>
      <% end %>
    });
  }

    <% if user_signed_in? %> 
      $('#rate-profession').on('click', function() {
        var rateProfessionText = $('#rate-profession').text();
        switch(rateProfessionText) {
          case 'Rate':
            $('#rate-profession').text('Cancel');
            $('#send-rating').show();
            $('.star').raty({
              path: '/assets',
              cancel: true,
              cancelPlace: 'right',
              <% if @current_user_ratings_for_this_user %>
                    score: <%= @current_user_ratings_for_this_user.rating %>
              <% end %>
            });
            break;
          default:
            $('#rate-profession').text('Rate');
            $('#send-rating').hide();
            getStar();
        };
      });
    <% end %>

    <% if @user_professions %>
    $('#send-rating').on('click', function(e) {
      e.preventDefault();
      var score = $('.star').raty('score');
      if (score == null){
      	score = 0;
      }
      <% if @current_user_ratings_for_this_user.blank? %>
        $.ajax({
          url: '/api/props',
          type: 'POST',
          data: { rating: score, rated_by_user: <%= current_user.id %>, user: <%= @user_profile.id %>, profession: <%= @user_professions.profession.id %> }
        })
      <% else %>
		    $.ajax({
	        url: '/api/props/' + <%= @current_user_ratings_for_this_user.id %>,
	        type: 'PUT',
	        data: { rating: score, id: <%= @current_user_ratings_for_this_user.id %>}
	      })
		  <% end %>

   
      $('#rate-profession').text('Rate');
      $('#send-rating').hide();
      getStar();
    });
    <% end %>

	});
</script>